.inputbox > div{
  margin-bottom:40px;
}

.labelbox > div{
  margin-bottom:40px;
}

#check > div{
  margin-bottom:40px;
}

body > div{
  padding:100px 40px 200px 40px;
  max-width:1200px;
  width:100%;
  margin:0 auto;
}

.search > div{
  margin-bottom:200px;
}