body > div{
  padding:100px 40px 200px 40px;
  max-width:1200px;
  width:100%;
  margin:0 auto;
}

section{
  margin-bottom:200px;
  padding:0 0 100px;
}

.inputbox > div{
  margin-bottom:40px;
}

.ui-label-select, .ui-autocomplete{
  margin-bottom:100px;
}
