.logo-white{
  background-image: url("data:image/svg+xml,%0A%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 18.13'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo_white%3C/title%3E%3Cpolygon class='cls-1' points='3.41 18.01 0 4.13 3.18 4.13 5.26 14.26 7.4 4.13 10.5 4.13 12.64 14.26 14.48 4.13 17.44 4.13 14.48 18.01 10.79 18.01 8.95 9.33 7.1 18.01 3.41 18.01'/%3E%3Crect class='cls-1' x='18.9' width='3.28' height='2.53'/%3E%3Crect class='cls-1' x='18.89' y='4.13' width='3.28' height='13.88'/%3E%3Cpath class='cls-1' d='M28.7,5.06h.74q4.93,0,4.93,4.17H31.09q0-1.53-1.65-1.53H28.7c-1.1,0-1.64.51-1.64,1.53s.54,1.38,1.64,1.38h.82q4.92,0,4.92,4.17t-4.92,4.16H28.7c-3.28,0-4.93-1.39-4.93-4.16h3.29c0,1,.54,1.53,1.64,1.53h.82c1.09,0,1.64-.51,1.64-1.53s-.55-1.39-1.64-1.39H28.7c-3.28,0-4.93-1.39-4.93-4.16S25.42,5.06,28.7,5.06Z' transform='translate(0 -0.93)'/%3E%3Cpath class='cls-1' d='M43.25,18.94V9.23c0-.93-.55-1.15-1.64-1.15a7.06,7.06,0,0,0-2.46.42V18.94H35.86V1.47h3.29V6.28a4.39,4.39,0,0,1,3-1c2.95,0,4.43,1.14,4.43,3.92v9.71Z' transform='translate(0 -0.93)'/%3E%3Cpolygon class='cls-1' points='51.34 0.54 51.34 10.37 55.77 4.37 59.55 4.37 54.63 11.07 59.55 18.01 55.77 18.01 51.34 11.76 51.34 18.01 48.06 18.01 48.06 0.54 51.34 0.54'/%3E%3Cpath class='cls-1' d='M70.5,13.39V9.23c0-2.78-1.64-3.92-4.93-3.92h-.82c-3.28,0-4.92,1.14-4.92,3.92v5.55q0,4.16,4.92,4.16h.82q4.94,0,4.93-4.16H67.21c0,.92-.54,1.39-1.64,1.39h-.82c-1.09,0-1.64-.47-1.64-1.39V13.39ZM63.11,9.23c0-.93.55-1.15,1.64-1.15h.82c1.1,0,1.64.22,1.64,1.15v1.38h-4.1Z' transform='translate(0 -0.93)'/%3E%3Cpath class='cls-1' d='M73.44,8.21H71.8V5.43h1.64V2.74l3.28-1.39V5.43H80V8.21H76.72V14.9c0,.93.55,1.39,1.64,1.39H80l-1.64,2.78q-4.92,0-4.92-4.17Z' transform='translate(0 -0.93)'/%3E%3C/svg%3E");
}

.logo-black{
  background-image: url("data:image/svg+xml,%0A%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 18.13'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23212121;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Elogo_black%3C/title%3E%3Cpolygon class='cls-1' points='3.41 18.01 0 4.13 3.18 4.13 5.26 14.26 7.4 4.13 10.5 4.13 12.64 14.26 14.48 4.13 17.44 4.13 14.48 18.01 10.79 18.01 8.95 9.33 7.1 18.01 3.41 18.01'/%3E%3Crect class='cls-1' x='18.9' width='3.28' height='2.53'/%3E%3Crect class='cls-1' x='18.89' y='4.13' width='3.28' height='13.88'/%3E%3Cpath class='cls-1' d='M28.7,5.06h.74q4.93,0,4.93,4.17H31.09q0-1.53-1.65-1.53H28.7c-1.1,0-1.64.51-1.64,1.53s.54,1.38,1.64,1.38h.82q4.92,0,4.92,4.17t-4.92,4.16H28.7c-3.28,0-4.93-1.39-4.93-4.16h3.29c0,1,.54,1.53,1.64,1.53h.82c1.09,0,1.64-.51,1.64-1.53s-.55-1.39-1.64-1.39H28.7c-3.28,0-4.93-1.39-4.93-4.16S25.42,5.06,28.7,5.06Z' transform='translate(0 -0.93)'/%3E%3Cpath class='cls-1' d='M43.25,18.94V9.23c0-.93-.55-1.15-1.64-1.15a7.06,7.06,0,0,0-2.46.42V18.94H35.86V1.47h3.29V6.28a4.39,4.39,0,0,1,3-1c2.95,0,4.43,1.14,4.43,3.92v9.71Z' transform='translate(0 -0.93)'/%3E%3Cpolygon class='cls-1' points='51.34 0.54 51.34 10.37 55.77 4.37 59.55 4.37 54.63 11.07 59.55 18.01 55.77 18.01 51.34 11.76 51.34 18.01 48.06 18.01 48.06 0.54 51.34 0.54'/%3E%3Cpath class='cls-1' d='M70.5,13.39V9.23c0-2.78-1.64-3.92-4.93-3.92h-.82c-3.28,0-4.92,1.14-4.92,3.92v5.55q0,4.16,4.92,4.16h.82q4.94,0,4.93-4.16H67.21c0,.92-.54,1.39-1.64,1.39h-.82c-1.09,0-1.64-.47-1.64-1.39V13.39ZM63.11,9.23c0-.93.55-1.15,1.64-1.15h.82c1.1,0,1.64.22,1.64,1.15v1.38h-4.1Z' transform='translate(0 -0.93)'/%3E%3Cpath class='cls-1' d='M73.44,8.21H71.8V5.43h1.64V2.74l3.28-1.39V5.43H80V8.21H76.72V14.9c0,.93.55,1.39,1.64,1.39H80l-1.64,2.78q-4.92,0-4.92-4.17Z' transform='translate(0 -0.93)'/%3E%3C/svg%3E");
}

@mixin header__gnb($type, $font-color, $background-color, $hover-color){
  width: 100%;
  background:$background-color;
  .brand{
    text-indent: -99999px;
    width: 100px;
    margin-right:16px;
    padding:0 10px;
    background-repeat:no-repeat;
    background-position: center;
  }
  max-width: 1080px;
  width:100%;
  margin:0 auto;
  display: flex;
  height: 64px;
  align-items: center;
  font-size:14px;
  line-height: 24px;
  color:$font-color;
  >.left-menu{
    display: flex;
    >li{
      padding:0 20px;
      color: $font-color;
      opacity: 1;
    }
  }
  >.right-menu{
    display: flex;
    margin-left:auto;
    >li{
      opacity: 1;
      >a{
        color: $font-color;
        font-size:14px;
        line-height: 24px;
        padding:0 20px;
        font-weight: 400;
      }
    }
  }
}
.ui-gnb{
  &.theme-default-white{
    @include header__gnb(default, $color-gray900, $color-white, none);
  }
  &.theme-default-black{
    @include header__gnb(default, $color-white, $color-indigo600, $color-indigo800);
  }
}