@mixin radio($type, $brand-color, $not-check-color, $arrow-color, $font-color, $font-size, $line-height, $detail-font-color, $detail-line-height, $detail-font-size, $focus-color){
  padding:0;
  color:rgba(0,0,0,0.65);
  cursor:pointer;
  display: inline-block;
  position: relative;
  >span:first-child{
    position: absolute;
    top:4px;
    left:0;
    >span{
      position:relative;
      display:inline-block;
      padding:3px;
      border:1px solid $not-check-color;
      border-radius:50%;
      background:#fff;
      .dot{
        width:8px;
        height:8px;
        background:$brand-color;
        border-radius:50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        display:block;
        transition: all .2s ease-out, opacity .1s;
        -webkit-transition: all .2s ease-out, opacity .1s;
      }
    }
    >input{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      width:0px;
      height:0px;
      &[type='radio']{
        box-sizing:border-box;
        padding:0;
      }
      &:checked + span{
        border-color:$brand-color;
        >.dot{
          border-color:$arrow-color;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          background:$brand-color;
          opacity: 1;
        }
      }
      &:focus + span{
        border-color:$focus-color;
      }
    }
  }
  @if $type == detail {
    >div{
      padding-left:28px;
      vertical-align:top;
      user-select: none;
      cursor: pointer;
      >span{
        font-weight:400;
        font-size:$font-size;
        color:$font-color;
        line-height: $line-height;
        display:block;
        word-break: keep-all;
      }
      >p{
        font-weight:400;
        font-size:$detail-font-size;
        color:$detail-font-color;
        line-height: $detail-line-height;
        display:block;
        word-break: keep-all;
      }
    }
  }
  @else{
    >span:last-child{
      padding-left:28px;;
      user-select: none;
      cursor: pointer;
      font-weight:400;
      font-size:$font-size;
      color:$font-color;
      line-height: $line-height;
      display:block;
      word-break: keep-all;
    }
  }
  &:hover{
    >span:first-child > span{
      border-color:$brand-color;
    }
  }
  &.disabled{
    >span:first-child{
      > span{
        background:$color-gray50;
      }
      >input{
        &:checked + span{
          >.dot{
            background:$color-gray200;
          }
          border-color:$color-gray200;
        }
      }
    }
    @if $type == detail {
      >div{
        >span, >p{
          color:$color-gray300;
        }
      }
    }
    @else{
      >span:last-child{
        color:$color-gray300;
      }
    }
    &:hover, &:focus{
      >span:first-child > span{
        border-color:$color-gray200;
      }
    }
  }
  &:after{
    content:'';
    clear: both;
    display:block;
  }
}

.radio-wishket{
  @include radio(default, $color-wishket500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, false, false, false, $color-wishket700);
  &.detail-text{
    @include radio(detail, $color-wishket500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-wishket700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.radio-partner{
  @include radio(default, $color-partner500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, false, false, false, $color-partner700);
  &.detail-text{
    @include radio(detail, $color-partner500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-partner700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.radio-client{
  @include radio(default, $color-client500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, false, false, false, $color-client700);
  &.detail-text{
    @include radio(detail, $color-client500, $color-gray200, $color-white, $color-gray900, 14px, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-client700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.addon{
  display: flex;
  align-items:center;
  >label{
    margin-bottom:0;
    height:16px;
    >span:first-child{
      top:0;
    }
  }
  >div{
    padding-bottom:0;
    flex:1;
  }
}

.radio-group{
  &:after{
    content:'';
    display:block;
    clear: both;
  }
  >li{
    margin:0 0 12px 0;
    line-height: 0;
    &:last-child{
      margin:0;
      >.addon{
        margin-bottom:0;
      }
    }
  }
  >li.horizontal{
    float:left;
    margin:0 40px 0 0;
    &:last-child{
      margin:0;
    }
  }
  >li.horizontal-short{
    float:left;
    margin:0 24px 0 0;
    &:last-child{
      margin:0;
    }
  }

  &.horizontal{
    >li{
      display:inline-block;
      margin-right:40px;
    }
  }
}


@mixin card-radio($brand-color, $bg-brand-color){
  position: relative;
  cursor: pointer;
  display:inline-block;
  padding:24px 16px;
  text-align: center;
  background:#fff;
  border:1px solid $color-gray200;
  min-width:200px;
  margin-left:20px;
  transition:all .3s;
  -webkit-transition:all .3s;
  border-radius:4px;
  .card-img{
    display:block;
    margin:0 auto;
  }
  .card-img-select{
    display:none;
  }
  .card-text{
    margin-top:8px;
    font-size:14px;
    line-height: 24px;
    color:$color-gray900;
    >.subtext{
      margin-top:4px;
      font-size:12px;
      line-height: 18px;
      color:$color-gray600;
      font-weight: 400;
    }
  }
  .card-tooltip{
    position:absolute;
    top:4px;
    right:16px;
    transform:translateY(-50%);
    border-radius: 100px;
    border:1px solid $brand-color;
    color:$brand-color;
    background:#fff;
    font-size:13px;
    line-height: 1em;
    z-index:1;
    display:block;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    padding:8px 12px 7px;
    &:after{
      content: "";
      position: absolute;
      z-index:0;
      bottom: -5px;
      right:24px;
      width:8px;
      height:8px;
      transform:translateY(0) rotate(45deg);
      background:#fff;
      border-width: 1px;
      border-style: solid;
      border-color: transparent $brand-color $brand-color transparent;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        bottom: -6px;
      }
    }
  }
  >span:first-child{
    position: absolute;
    top:16px;
    left:16px;
    >span{
      position:relative;
      display:inline-block;
      padding:3px;
      border:1px solid $color-gray200;
      border-radius:50%;
      background:#fff;
      .dot{
        width:8px;
        height:8px;
        background:$brand-color;
        border-radius:50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        display:block;
        transition: all .2s ease-out, opacity .1s;
        -webkit-transition: all .2s ease-out, opacity .1s;
      }
    }
    >input{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      width:0px;
      height:0px;
      &[type='radio']{
        box-sizing:border-box;
        padding:0;
      }
      &:checked + span{
        border-color:$brand-color;
        >.dot{
          border-color:#fff;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          background:$brand-color;
          opacity: 1;
        }
      }
    }
  }
  &:hover{
    border-color:$brand-color;
    >span:first-child >span{
      border-color:$brand-color;
    }
  }
  &.selected{
    background:$bg-brand-color;
    border-color:$brand-color;
    >.card-img-box{
      >.card-img{
        display:none;
      }
      >.card-img-select{
        display:block;
        margin:0 auto;
      }
    }
  }
  &:first-child{
    margin-left:0;
  }
  &.disabled{
    background:$color-gray10;
    border-color:$color-gray200;
    >.card-img-box{
      >.card-img{
        display:block;
      }
      >.card-img-select{
        display:none;
      }
    }
    >span:first-child {
      > span{
        background:$color-gray50;
        border-color:$color-gray200;
      }
      >input{
        &:checked + span{
          border-color:$color-gray200;
          > .dot{
            background:$color-gray200;
          }
        }
      }
    }
    >.card-img-box{
      opacity: .4;
    }
    >.card-text{
      color:$color-gray300;
      >.subtext{
        color:$color-gray300;
      }
    }
  }
}

.card-radio{
  &.theme-client{
    @include card-radio($color-client500, $color-client10);
  }
  &.theme-partner{
    @include card-radio($color-partner500, $color-partner10);
  }
  &.theme-wishket{
    @include card-radio($color-wishket500, $color-wishket10);
  }
  width: 100% !important;
}

@mixin card-radio-wide($brand-color, $bg-brand-color){
  position: relative;
  cursor: pointer;
  border-radius:4px;
  display:inline-block;
  padding:24px 16px;
  text-align: left;
  background:#fff;
  border:1px solid $color-gray200;
  min-width:200px;
  transition:all .3s;
  -webkit-transition:all .3s;
  padding-left:116px;
  .card-img-box{
    position:absolute;
    left:44px;
    top:50%;
    transform:translateY(-50%);
  }
  .card-img{
    display:block;
    margin:0 auto;
  }
  .card-img-select{
    display:none;
  }
  .card-text{
    font-size:14px;
    line-height: 24px;
    color:$color-gray900;
    >.subtext{
      margin-top:2px;
      font-size:12px;
      line-height: 18px;
      color:$color-gray600;
      font-weight: 400;
    }
  }
  .card-tooltip{
    position:absolute;
    top:10px;
    right:16px;
    transform:translateY(-50%);
    border-radius: 100px;
    border:1px solid $brand-color;
    color:$brand-color;
    background:#fff;
    font-size:13px;
    line-height: 1em;
    z-index:1;
    display:block;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
    padding:8px 12px 7px;
    &:after{
      content: "";
      position: absolute;
      z-index:0;
      bottom: -5px;
      right:24px;
      width:8px;
      height:8px;
      transform:translateY(0) rotate(45deg);
      background:#fff;
      border-width: 1px;
      border-style: solid;
      border-color: transparent $brand-color $brand-color transparent;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        bottom: -6px;
      }
    }
  }
  >span:first-child{
    position: absolute;
    top:50%;
    left:16px;
    transform:translateY(-50%);
    >span{
      position:relative;
      display:inline-block;
      padding:3px;
      border:1px solid $color-gray200;
      border-radius:50%;
      background:#fff;
      .dot{
        width:8px;
        height:8px;
        background:$brand-color;
        border-radius:50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        display:block;
        transition: all .2s ease-out, opacity .1s;
        -webkit-transition: all .2s ease-out, opacity .1s;
      }
    }
    >input{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      width:0px;
      height:0px;
      &[type='radio']{
        box-sizing:border-box;
        padding:0;
      }
      &:checked + span{
        border-color:$brand-color;
        >.dot{
          border-color:#fff;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          background:$brand-color;
          opacity: 1;
        }
      }
    }
  }
  &:hover{
    border-color:$brand-color;
    >span:first-child >span{
      border-color:$brand-color;
    }
  }
  &.selected{
    background:$bg-brand-color;
    border-color:$brand-color;
    >.card-img-box{
      >.card-img{
        display:none;
      }
      >.card-img-select{
        display:block;
        margin:0 auto;
      }
    }
  }
  &:first-child{
    margin-left:0;
  }
  &.disabled{
    background:$color-gray10;
    border-color:$color-gray200;
    >.card-img-box{
      >.card-img{
        display:block;
      }
      >.card-img-select{
        display:none;
      }
    }
    >span:first-child {
      > span{
        background:$color-gray50;
        border-color:$color-gray200;
      }
      >input{
        &:checked + span{
          border-color:$color-gray200;
          > .dot{
            background:$color-gray200;
          }
        }
      }
    }
    >.card-img-box{
      opacity: .4;
    }
    >.card-text{
      color:$color-gray300;
      >.subtext{
        color:$color-gray300;
      }
    }
  }
}

.card-radio-wide{
  width: 100% !important;
  &.theme-client{
    @include card-radio-wide($color-client500, $color-client10);
  }
  &.theme-partner{
    @include card-radio-wide($color-partner500, $color-partner10);
  }
  &.theme-wishket{
    @include card-radio-wide($color-wishket500, $color-wishket10);
  }
}
