@mixin checkbox($type, $brand-color, $not-check-color, $arrow-color, $font-color, $font-size, $line-height, $detail-font-color, $detail-line-height, $detail-font-size, $focus-color){
  margin:0;
  padding:0;
  color:rgba(0,0,0,0.65);
  margin:0 0 8px 0;
  display:block;
  cursor:pointer;
  >span:first-child{
    display:inline-block;
    position:relative;
    top:0.2rem;
    float:left;
    >span{
      position:relative;
      display:inline-block;
      width:16px;
      height:16px;
      top:0;
      left:0;
      border:1px solid $not-check-color;
      border-radius:2px;
    }
    >span.arrow{
      &:after{
        position: absolute;
        top: 48%;
        left: 21.45%;
        display: table;
        width: 5.71428571px;
        height: 9.14285714px;
        border: 1.6px solid #fff;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        opacity: 0;
        transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
        content: ' ';
      }
    }
    >span.minus-icon{
      &:before{
        top:50%;
        left:50%;
        display: table;
        width: 8px;
        height: 1.6px;
        border:1.6px solid #fff;
        background:#fff;
        border:none;
        border-radius:2px;
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
        transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
      }
    }
    >input{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      width:0px;
      height:0px;
      &[type='checkbox']{
        box-sizing:border-box;
        padding:0;
      }
      &:checked + span{
        background:$brand-color;
        border-color:$brand-color;
        &:after{
          position: absolute;
          display: table;
          border-color:$arrow-color;
          border-top: 0;
          border-left: 0;
          -webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
          -ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
          transform: rotate(45deg) scale(1) translate(-50%, -50%);
          opacity: 1;
          -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          content: ' ';
          visibility: visible;
        }
        &:before{
          opacity: 0;
          visibility: hidden;
        }
      }
      &:checked + span.minus-icon{
        &:after{
          opacity: 0;
          visibility: hidden;
        }
        &:before{
          position: absolute;
          display: table;
          border-color:$arrow-color;
          border-top: 0;
          border-left: 0;
          border-right:0;
          -webkit-transform: scale(1) translate(-50%, -50%);
          -ms-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
          opacity: 1;
          -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          content: ' ';
          visibility: visible;
        }
      }
      &:focus + span{
        border-color:$focus-color;
      }
    }
  }
  @if $type == detail {
    >div{
      float:left;
      vertical-align:top;
      display:inline-block;
      user-select: none;
      cursor: pointer;
      width:calc(100% - 16px);
      >span{
        padding:0 0 0 12px;
        font-weight:400;
        font-size:$font-size;
        color:$font-color;
        line-height: $line-height;
      }
      >p{
        padding:0 0 0 12px;
        font-weight:400;
        font-size:$detail-font-size;
        color:$detail-font-color;
        line-height: $detail-line-height;
      }
    }
  }
  @else{
    >span:last-child{
      user-select: none;
      cursor: pointer;
      padding:0 0 0 12px;
      font-weight:400;
      font-size:$font-size;
      color:$font-color;
      line-height: $line-height;
      float: left;
      width:calc(100% - 16px);
    }
  }

  &:hover{
    >span:first-child > span{
      border-color:$brand-color;
    }
  }

  &.disabled{
    >span:first-child{
      > span{
        background:$color-gray50;
      }
      >input{
        &:checked + span{
          background:$color-gray200;
          border-color:$color-gray200;
        }
      }
    }
    @if $type == detail {
      >div{
        >span, >p{
          color:$color-gray300;
        }
      }
    }
    @else{
      >span:last-child{
        color:$color-gray300;
      }
    }
    &:hover, &:focus{
      >span:first-child > span{
        border-color:$color-gray200;
      }
    }
  }

  &:after{
    content:'';
    clear: both;
    display:block;
  }
}

.checkbox-wishket{
  @include checkbox(default, $color-wishket500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-wishket700);
  &.detail-text{
    @include checkbox(detail, $color-wishket500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-wishket700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.checkbox-partner{
  @include checkbox(default, $color-partner500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-partner700);
  &.detail-text{
    @include checkbox(detail, $color-partner500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-partner700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.checkbox-client{
  @include checkbox(default, $color-client500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-client700);
  &.detail-text{
    @include checkbox(detail, $color-client500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-client700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.treeview{
  >label{
    margin:0 0 12px 0;
  }
  ul{
    padding-left:28px;
  }
  >span:first-child{
  }
  >span:last-child{
    font-size:0.875rem;
    color:$color-gray900;
  }
}

.addon{
  align-items:center;
  >label{
    margin-bottom:0;
    width:16px;
    float:left;
  }
  >div{
    margin-left:12px;
    padding-bottom:0;
    float:left;
    width:calc(100% - 12px);
  }
}

@mixin chip($type, $default-color, $hover-color, $brand-color, $brand-font-color, $font-size, $line-height){
  position:relative;
  display:inline-block;
  user-select:none;
  margin:4px 4px 8px 4px;
  &:hover{
    >span{
      background:$hover-color;
    }
  }
  >input{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    width:0px;
    height:0px;
    &[type='checkbox']{
      box-sizing:border-box;
      padding:0;
    }
    &:checked + span{
      background:$brand-color;
      color:$brand-font-color;
    }
  }
  >span{
    border-radius:1rem;
    padding:4px 16px;
    background:$default-color;
    font-size:$font-size;
    line-height:$line-height;
    color:$color-gray600;
    display:inline-block;
    cursor:pointer;
    >i{
      height: 18px;
      vertical-align: middle;
      display: inline-block;
      >svg{
        height:inherit;
      }
    }
  }

  &.disabled{
    >input{
      &:checked + span{
        background:$color-gray200;
        border-color:$color-gray200;
      }
    }
    >span{
      background:$color-gray100;
      opacity: 40%;
      cursor:not-allowed;
    }
    &:hover, &:focus{
      > span{
        border-color:$color-gray200;
      }
    }
  }

  &.vertical{
    display:inline-block;
    width:100%;
    margin:4px 4px 8px 4px;
  }
}

.chip-box{
  margin:-4px;
}



.chip-choice-client{
  @include chip(choice, $color-gray100, $color-gray200, $color-client50, $color-client500, 0.875rem, 1.5rem);
}

.chip-choice-partner{
  @include chip(choice, $color-gray100, $color-gray200, $color-partner50, $color-partner500, 0.875rem, 1.5rem);
}

.chip-choice-wishket{
  @include chip(choice, $color-gray100, $color-gray200, $color-wishket50, $color-wishket500, 0.875rem, 1.5rem);
}

.child-list{
  padding-left:28px;
}