//text input stlye
@mixin textinput($padding, $brand-color, $placeholder-color, $font-color, $font-size, $line-height){
  position:relative;
  padding-bottom:28px;
  >input{
    display: block;
    border-radius:4px;
    padding:$padding;
    border:1px solid $color-gray200;
    font-size:$font-size;
    line-height: $line-height;
    color:$font-color;
    font-weight:400;
    background:#fff;
    width:100%;
    height: inherit;
    &::placeholder, &::-webkit-input-placeholder{
      color:$placeholder-color;
      line-height:inherit;
    }
    &:disabled{
      background:$color-gray10;
      color:$color-gray300;
    }
    &:hover, &:focus{
      border-color:$brand-color;
      &:disabled{
        &:hover, &:focus{
          border-color:$color-gray200;
        }
      }
    }
    &[type='password']{
      font-size:1.3rem;
      letter-spacing: -2px;
      font-family: Consolas, Courier, monospace;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      line-height: 1em;
      padding:11px 13px;
    }
  }
  input:-ms-input-placeholder{
    color:$placeholder-color;
    line-height:inherit;
  }

  input[type=text]::-ms-clear {
    display:none;
  }

  >span{
    position:absolute;
    font-size:0.813rem;
    font-weight: 400;
    bottom:0;
    color:$color-gray400;
    &.helper-text{
      left:0.813rem;
      text-overflow: ellipsis;
      width: 80%;
      overflow: hidden;
      white-space: nowrap;
    }
    &.word-length{
      left:auto;
      right:0.813rem;
    }
  }
  &.error{
    >input{
      color:$color-red500;
      border-color:$color-red500;
    }
    >span{
      color:$color-red500;
    }
  }
}

.text-input-wishket{
  @include textinput(8px 13px, $color-wishket500, $color-gray300, $color-gray600, 0.875rem, 1.50rem);
}

.text-input-partner{
  @include textinput(8px 13px, $color-partner500, $color-gray300, $color-gray600, 0.875rem, 1.50rem);
}

.text-input-client{
  @include textinput(8px 13px, $color-client500, $color-gray300, $color-gray600, 0.875rem, 1.50rem);
}

.text-input-wishket.input-small{
  @include textinput(8px 13px, $color-wishket500, $color-gray300, $color-gray600, 0.813rem, 1.250rem);
}

.text-input-partner.input-small{
  @include textinput(8px 13px, $color-partner500, $color-gray300, $color-gray600, 0.813rem, 1.250rem);
}

.text-input-client.input-small{
  @include textinput(8px 13px, $color-client500, $color-gray300, $color-gray600, 0.813rem, 1.250rem);
}


//label input style
@mixin labelInput($icon-position, $brand-color, $font-color, $font-size, $line-height){
  position:relative;  
  >input{
    display: block;
    border-radius:4px;
    border:1px solid $color-gray200;
    font-size:$font-size;
    line-height: $line-height;
    color:$font-color;
    font-weight:400;
    background:#fff;
    width:100%;
    transition:all .3s;
    @if $icon-position == icon-default {
      padding:24px 13px 8px 13px;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        line-height: 1em;
        padding:29px 13px 8px 13px;
      }
    } @else if $icon-position == icon-right {
      padding:24px 44px 8px 13px;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        line-height: 1em;
        padding:29px 44px 8px 13px;
      }
    } @else if $icon-position == icon-left {
      padding:24px 13px 8px 44px;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        line-height: 1em;
        padding:29px 13px 8px 44px;
      }
    }
    &::placeholder, &::-webkit-input-placeholder{
      text-indent: -999999px;
    }
    &:disabled{
      background:$color-gray10;
      color:$color-gray300;
    }
    &:hover, &:focus{
      border-color:$brand-color;
      &:disabled{
        &:hover, &:focus{
          border-color:$color-gray200;
        }
      }
    }
    &[type='password']{
      font-size:1.3rem;
      letter-spacing: -2px;
      font-family: Consolas, Courier, monospace;
    }
  }

  input:-ms-input-placeholder{
    text-indent: -999999px;
  }

  input[type=text]::-ms-clear {
    display:none;
  }

  >label{
    position:absolute;
    @if $icon-position == icon-left {
      left:44px;
    } @else{
      left:13px;
    }
    top:50%;
    transform: translateY(-50%);
    font-size:0.875rem;
    line-height:0.875rem;
    color:$color-gray300;
    transition:all .3s;
  }
  >i{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    @if $icon-position == icon-right {
      right:16px;
    } @else if $icon-position == icon-left {
      left:16px;
    }
  }
  &.error{
    >input{
      color:$color-red500;
      border-color:$color-red500;
    }
    >label{
      color:$color-red500;
    }
  }
  &.label-effect{
    >input:focus ~ label{
      color:$brand-color !important;
    }
    > label{
      transform:translateY(-20px);
      font-size:0.688rem; 
    }
  }
}

.label-input-wishket{
  @include labelInput(icon-default, $color-wishket500, $color-gray600, 0.875rem, 1.50rem);
  &.icon-right{
    @include labelInput(icon-right, $color-wishket500, $color-gray600, 0.875rem, 1.50rem);
  }
  &.icon-left{
    @include labelInput(icon-left, $color-wishket500, $color-gray600, 0.875rem, 1.50rem);
  }
}

.label-input-client{
  @include labelInput(icon-default, $color-client500, $color-gray600, 0.875rem, 1.50rem);
  &.icon-right{
    @include labelInput(icon-right, $color-client500, $color-gray600, 0.875rem, 1.50rem);
  }
  &.icon-left{
    @include labelInput(icon-left, $color-client500, $color-gray600, 0.875rem, 1.50rem);
  }
}

.label-input-partner{
  @include labelInput(icon-default, $color-partner500, $color-gray600, 0.875rem, 1.50rem);
  &.icon-right{
    @include labelInput(icon-right, $color-partner500, $color-gray600, 0.875rem, 1.50rem);
  }
  &.icon-left{
    @include labelInput(icon-left, $color-partner500, $color-gray600, 0.875rem, 1.50rem);
  }
}
