@mixin radio($type, $brand-color, $not-check-color, $arrow-color, $font-color, $font-size, $line-height, $detail-font-color, $detail-line-height, $detail-font-size, $focus-color){
  margin:0;
  padding:0;
  color:rgba(0,0,0,0.65);
  margin:0 12px 8px 0;
  cursor:pointer;
  display: block;
  >span:first-child{
    display:inline-block;
    position:relative;
    top:0.1rem;
    >span{
      position:relative;
      display:inline-block;
      width:16px;
      height:16px;
      top:0;
      left:0;
      border:1px solid $not-check-color;
      border-radius:50%;
    }
    >span{
      &:after{
        position: absolute;
        top: 3px;
        left: 3px;
        display: table;
        width: 8px;
        height: 8px;
        border-radius:50%;
        transform:scale(0) translate(-50%, -50%);
        background:$brand-color;
        opacity: 0;
        transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s;
        content: ' ';
        transform-origin:center;
      }
    }
    >input{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      width:0px;
      height:0px;
      &[type='radio']{
        box-sizing:border-box;
        padding:0;
      }
      &:checked + span{
        border-color:$brand-color;
        &:after{
          position: absolute;
          display: table;
          border-color:$arrow-color;
          top:50%;
          left:50%;
          -webkit-transform: scale(1) translate(-50%, -50%);
          -ms-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
          opacity: 1;
          -webkit-transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          transition: all .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
          content: ' ';
          visibility: visible;
        }
      }
      &:focus + span{
        border-color:$focus-color;
      }
    }
  }
  @if $type == detail {
    >div{
      vertical-align:top;
      display:inline-block;
      user-select: none;
      cursor: pointer;
      >span{
        padding:0 8px;
        font-weight:400;
        font-size:$font-size;
        color:$font-color;
        line-height: $line-height;
      }
      >p{
        padding:0 8px;
        font-weight:400;
        font-size:$detail-font-size;
        color:$detail-font-color;
        line-height: $detail-line-height;
      }
    }
  }
  @else{
    >span:last-child{
      user-select: none;
      cursor: pointer;
      padding:0 8px;
      font-weight:400;
      font-size:$font-size;
      color:$font-color;
      line-height: $line-height;
    }
  }

  &:hover{
    >span:first-child > span{
      border-color:$brand-color;
    }
  }

  &.disabled{
    >span:first-child{
      > span{
        background:$color-gray50;
      }
      >input{
        &:checked + span{
          background:$color-gray200;
          border-color:$color-gray200;
        }
      } 
    }
    
    @if $type == detail {
      >div{
        >span, >p{
          color:$color-gray300;
        }
      }
    }
    @else{
      >span:last-child{
        color:$color-gray300;
      }
    }
    &:hover, &:focus{
      >span:first-child > span{
        border-color:$color-gray200;
      }
    }
  }
}

.radio-wishket{
  @include radio(default, $color-wishket500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-wishket700);
  &.detail-text{
    @include radio(detail, $color-wishket500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-wishket700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.radio-partner{
  @include radio(default, $color-partner500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-partner700);
  &.detail-text{
    @include radio(detail, $color-partner500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-partner700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.radio-client{
  @include radio(default, $color-client500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, false, false, false, $color-client700);
  &.detail-text{
    @include radio(detail, $color-client500, $color-gray200, $color-white, $color-gray900, 0.875rem, 1.50rem, $color-gray600, 1.25rem, 0.813rem, $color-client700);
  }
  &.horizontal{
    display:inline-block;
    margin-right:40px;
  }
}

.addon{
  display: flex;
  align-items:center;
  >label{
    margin-bottom:0;
  }
  >div{
    padding-bottom:0;
    flex:1;
  }
}

.horizontal{
  display: inline-block;
}