@mixin select($type, $brand-color, $brand-hover-color){
  position: relative;
  color:$color-gray600;
  font-weight: 400;
  cursor: pointer;
  display:inline-block;
  min-width:260px;
  >.select-box{
    position:relative;
    padding:25px 51px 9px 12px;
    border:1px solid $color-gray200;
    font-size:14px;
    border-radius:4px;
    display:block;
    height:58px;
    transition: all .2s cubic-bezier(.71, -0.46, .88, .6);
    .select-label{
      position:absolute;
      left:12px;
      font-size:14px;
      transition: all .3s;
      &.basic{
        transform:translateY(-50%);
        top:50%;
      }
    }
    >p{
      display:none;
      font-size:14px;
      line-height: 24px;
      opacity: 0;
      transition: all .3s cubic-bezier(.71, -0.46, .88, .6), dispay .1s .3s cubic-bezier(.71, -0.46, .88, .6);
    }
    >i{
      position:absolute;
      right: 12px;
      top: 50%;
      transform:translateY(-50%) rotate(.001deg);
      >svg{
        transition: all .2s cubic-bezier(.71, -0.46, .88, .6);
      }
      &.active{
        >svg{
          transform: rotate(180deg);
        }
      }
    }
  }
  >.select-dropdown{
    opacity: 0;
    visibility: hidden;
    position:absolute;
    transition: all .3s cubic-bezier(.71, -0.46, .88, .6), opacity .1s cubic-bezier(.71, -0.46, .88, .6);
    top:57px;
    border-radius: 4px;
    padding:9px 0;
    border:1px solid $color-gray200;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    z-index:777;
    background:#fff;
    max-height:270px;
    overflow:auto;
    >li{
      padding:8px 16px;
      font-size:14px;
      line-height: 24px;
      overflow: hidden;
      word-break: keep-all;
      text-overflow: ellipsis;
      &.disabled{
        color:$color-gray300;
        pointer-events: none;
      }
      &.current{
        color:$brand-color;
      }
      &.select{
        color:$brand-color;
      }
      &:hover, &:focus{
        background:$brand-hover-color; 
      }
      
    }
    &.open{
      visibility: visible;
      opacity: 1;
      >li.current{
        color:$brand-color;
      }
      >li.disabled{
        &:hover{
          background:#fff;
        }
      }
    }
  }
  &.active{
    >.select-box{
      >.select-label{
        position:absolute;
        transform:translateY(-26px);
        font-size:10px;
        line-height: 24px;
        color:$color-gray300;
      }
      >p{
        display:block;
        opacity: 1;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
      }
    }
  }
  &.open{
    >.select-box{
      border-color:$brand-color;
      >.select-label{
        color:$brand-color;
      }
      // >i{
      //   >svg{
      //     transform:rotate(180deg);
      //   }
      // }
    }
  }
  &:hover, &:focus{
    >.select-box{
      border-color:$brand-color;
      >p{
        visibility: visible;
        display:block;
        opacity: 1;
      }
      >.select-label{
        color:$brand-color;
      }
    }
  }
}

.ui-label-select{
  &.theme-wishket{
    @include select(default, $color-partner500, $color-partner10);
  }
  &.theme-client{
    @include select(default, $color-client500, $color-client10);
  }
  &.theme-partner{
    @include select(default, $color-wishket500, $color-wishket10);
  }
}