@mixin autocomplete($type, $brand-color, $brand-hover-color, $brand-label-color, $brand-close-color){
  padding:4px 8px;
  border:1px solid $color-gray200;
  border-radius:4px;
  font-size:14px;
  line-height: 24px;
  color:$color-gray600;
  display:flex;
  flex-wrap: wrap;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  >input{
    min-width: 180px;
    flex:1;
    border:0;
    margin:0 4px;
    font-size:14px;
    line-height:32px;
    color:$color-gray600;
    min-height: 32px;
    // &::placeholder, , &::-ms-input-placeholder{
    &::placeholder, &::-webkit-input-placeholder{
      color:$color-gray300;
    }
  }

  input[type=text]::-ms-clear {
    display:none;
  }

  input:-ms-input-placeholder{
    color:$color-gray300;
  }

  input::-ms-input-placeholder{
    color:$color-gray300;
  }

  >.autocomplete-label{
    position:absolute;
    display:inline-block;
    padding:2px 22px 2px 8px;
    border-radius: 12px;
    color: $brand-color;
    background:$brand-label-color;
    font-size:13px;
    line-height: 20px;
    margin:4px;
    position:relative;
    &:hover {
      background: $brand-label-color
    }
    >i{
      cursor: pointer;
      position: absolute;
      top:0;
      right:5px;
      width:16px;
      height:100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%23#{$brand-close-color}' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M0 0L6 6' transform='translate(-233 -904) translate(0 117) translate(24 648) translate(0 94) translate(169 41) translate(40 4) translate(5 5)'/%3E%3Cpath d='M0 0L6 6' transform='translate(-233 -904) translate(0 117) translate(24 648) translate(0 94) translate(169 41) translate(40 4) translate(5 5) matrix(-1 0 0 1 6 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.error{
      color: $color-orange500;
      background-color: $color-orange50;
      >i {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%23#{$color-orange300}' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M0 0L6 6' transform='translate(-233 -904) translate(0 117) translate(24 648) translate(0 94) translate(169 41) translate(40 4) translate(5 5)'/%3E%3Cpath d='M0 0L6 6' transform='translate(-233 -904) translate(0 117) translate(24 648) translate(0 94) translate(169 41) translate(40 4) translate(5 5) matrix(-1 0 0 1 6 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
  }
  &:focus{
    border-color:$brand-hover-color;
  }
  &::placeholder{
    color:$color-gray300;
  }
  &+.tag-dropdown{
    position: absolute;
    z-index:100;
    left:0;
    //bottom:-49px;
    padding:8px 1px;
    border-radius: 4px;
    min-height:50px;
    width:inherit;
    max-width: 100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    border:1px solid $color-gray200;
    background:$color-white;
    display:none;
    opacity: 0;
    max-width: 100%;
    >li{
      cursor:pointer;
      padding:8px 16px;
      color:$color-gray600;
      font-size:12px;
      overflow:hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
      >strong{
        color:$brand-color;
      }
      >.count-data{
        margin-left:8px;
        color:$color-gray400;
      }
      &:hover, &:active, &:focus, &.list-selected{
        background:$brand-hover-color;
      }
    }
    &.open{
      display:block;
      opacity: 1;
    }
  }
  &.active{
    border-color:$brand-color;
  }
}

.autocompletebox{
  position: relative;
  background:#fff;
}

.hiddenInput{
  display:none;
}

.ui-autocomplete{
  &.theme-wishket{
    @include autocomplete(default, $color-wishket500, $color-wishket10, $color-wishket50, '80C7DE');
  }
  &.theme-client{
    @include autocomplete(default, $color-client500, $color-client10, $color-client50, '7DA3CC');
  }
  &.theme-partner{
    @include autocomplete(default, $color-partner500, $color-partner10, $color-partner50, '63C9AB');
  }
}
