.palette{
  p{
    font-size:18px;
    line-height: 28px;
    color:$color-gray400;
  }
  .color-box{
    display:flex;
    margin-bottom:48px;
    >li{
      width:calc(100% / 11);
      height:120px;
      position: relative;
      &.white{
        >span{color:#fff;}
      }
      >.color-number{
        font-size:14px;
        font-weight:400;
        color:$color-gray900;
        position: absolute;
        top:15px;
        left:19px;
        
      }
      >.color-hex{
        font-size:14px;
        font-weight:400;
        color:$color-gray900;
        position: absolute;
        bottom:15px;
        right:19px;
      }
    }
    &.red-color{
      >li{
        &:first-child{
          background:$color-red10;
        }
        &:nth-child(2){
          background:$color-red50;
        }
        &:nth-child(3){
          background:$color-red100;
        }
        &:nth-child(4){
          background:$color-red200;
        }
        &:nth-child(5){
          background:$color-red300;
        }
        &:nth-child(6){
          background:$color-red400;
        }
        &:nth-child(7){
          background:$color-red500;
        }
        &:nth-child(8){
          background:$color-red600;
        }
        &:nth-child(9){
          background:$color-red700;
        }
        &:nth-child(10){
          background:$color-red800;
        }
        &:last-child{
          background:$color-red800;
        }
      }
    }
    &.orange{
      >li{
        &:first-child{
          background:$color-orange10;
        }
        &:nth-child(2){
          background:$color-orange50;
        }
        &:nth-child(3){
          background:$color-orange100;
        }
        &:nth-child(4){
          background:$color-orange200;
        }
        &:nth-child(5){
          background:$color-orange300;
        }
        &:nth-child(6){
          background:$color-orange400;
        }
        &:nth-child(7){
          background:$color-orange500;
        }
        &:nth-child(8){
          background:$color-orange600;
        }
        &:nth-child(9){
          background:$color-orange700;
        }
        &:nth-child(10){
          background:$color-orange800;
        }
        &:last-child{
          background:$color-orange800;
        }
      }
    }
    &.yellow{
      >li{
        &:first-child{
          background:$color-yellow10;
        }
        &:nth-child(2){
          background:$color-yellow50;
        }
        &:nth-child(3){
          background:$color-yellow100;
        }
        &:nth-child(4){
          background:$color-yellow200;
        }
        &:nth-child(5){
          background:$color-yellow300;
        }
        &:nth-child(6){
          background:$color-yellow400;
        }
        &:nth-child(7){
          background:$color-yellow500;
        }
        &:nth-child(8){
          background:$color-yellow600;
        }
        &:nth-child(9){
          background:$color-yellow700;
        }
        &:nth-child(10){
          background:$color-yellow800;
        }
        &:last-child{
          background:$color-yellow800;
        }
      }
    }
    &.partner{
      >li{
        &:first-child{
          background:$color-partner10;
        }
        &:nth-child(2){
          background:$color-partner50;
        }
        &:nth-child(3){
          background:$color-partner100;
        }
        &:nth-child(4){
          background:$color-partner200;
        }
        &:nth-child(5){
          background:$color-partner300;
        }
        &:nth-child(6){
          background:$color-partner400;
        }
        &:nth-child(7){
          background:$color-partner500;
        }
        &:nth-child(8){
          background:$color-partner600;
        }
        &:nth-child(9){
          background:$color-partner700;
        }
        &:nth-child(10){
          background:$color-partner800;
        }
        &:last-child{
          background:$color-partner800;
        }
      }
    }
    &.wishket{
      >li{
        &:first-child{
          background:$color-wishket10;
        }
        &:nth-child(2){
          background:$color-wishket50;
        }
        &:nth-child(3){
          background:$color-wishket100;
        }
        &:nth-child(4){
          background:$color-wishket200;
        }
        &:nth-child(5){
          background:$color-wishket300;
        }
        &:nth-child(6){
          background:$color-wishket400;
        }
        &:nth-child(7){
          background:$color-wishket500;
        }
        &:nth-child(8){
          background:$color-wishket600;
        }
        &:nth-child(9){
          background:$color-wishket700;
        }
        &:nth-child(10){
          background:$color-wishket800;
        }
        &:last-child{
          background:$color-wishket800;
        }
      }
    }
    &.client{
      >li{
        &:first-child{
          background:$color-client10;
        }
        &:nth-child(2){
          background:$color-client50;
        }
        &:nth-child(3){
          background:$color-client100;
        }
        &:nth-child(4){
          background:$color-client200;
        }
        &:nth-child(5){
          background:$color-client300;
        }
        &:nth-child(6){
          background:$color-client400;
        }
        &:nth-child(7){
          background:$color-client500;
        }
        &:nth-child(8){
          background:$color-client600;
        }
        &:nth-child(9){
          background:$color-client700;
        }
        &:nth-child(10){
          background:$color-client800;
        }
        &:last-child{
          background:$color-client800;
        }
      }
    }
    &.indigo{
      >li{
        &:first-child{
          background:$color-indigo10;
        }
        &:nth-child(2){
          background:$color-indigo50;
        }
        &:nth-child(3){
          background:$color-indigo100;
        }
        &:nth-child(4){
          background:$color-indigo200;
        }
        &:nth-child(5){
          background:$color-indigo300;
        }
        &:nth-child(6){
          background:$color-indigo400;
        }
        &:nth-child(7){
          background:$color-indigo500;
        }
        &:nth-child(8){
          background:$color-indigo600;
        }
        &:nth-child(9){
          background:$color-indigo700;
        }
        &:nth-child(10){
          background:$color-indigo800;
        }
        &:last-child{
          background:$color-indigo800;
        }
      }
    }
    &.gray{
      >li{
        &:first-child{
          background:$color-gray10;
        }
        &:nth-child(2){
          background:$color-gray50;
        }
        &:nth-child(3){
          background:$color-gray100;
        }
        &:nth-child(4){
          background:$color-gray200;
        }
        &:nth-child(5){
          background:$color-gray300;
        }
        &:nth-child(6){
          background:$color-gray400;
        }
        &:nth-child(7){
          background:$color-gray500;
        }
        &:nth-child(8){
          background:$color-gray600;
        }
        &:nth-child(9){
          background:$color-gray700;
        }
        &:nth-child(10){
          background:$color-gray800;
        }
        &:last-child{
          background:$color-gray800;
        }
      }
    }
    &.etc{
      >li{
        >span{
          color:#fff;
        }
        &:first-child{
          background:$color-partner;
        }
        &:nth-child(2){
          background:$color-wishket;
        }
        &:nth-child(3){
          background:$color-client;
        }
        &:nth-child(4){
          background:$color-white;
          >span{
            color:$color-gray900;
          }
        }
        &:nth-child(5){
          background:$color-black;
        }
        &:nth-child(6){
          background:$color-has-read;
        }
      }
    }
  }
  
}