.ui-tooltip{
  position: relative;
  font-style:normal;
  cursor: pointer;
  text-align: left;
  >svg{
    z-index:0;
  }
}

.tooltip-container{
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  padding:24px;
  color:$color-gray600;
  position: absolute;
  z-index:999999;
  min-width:240px;
  background:#fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  >img{
    padding:12px 0;
  }
  >h3{
    font-size:13px;
    line-height: 20px;
    margin:0;
    padding:0;
  }
  >.sub-text{
    margin-top:3px;
    line-height: 20px;
    font-size:13px;
    font-weight:400;
  }
  &.active{
    visibility: visible;
    opacity: 1;
  }
  &.tooltip-container__infobox{
    background:#fff;
    padding:0;
    >div:first-child{
      padding:24px;
    }
    >div:last-child{
      padding:24px;
      background:$color-gray10;
      border-top:1px solid $color-gray200;
    }
    >div{
      >h3{
        font-size:13px;
        line-height: 20px;
        margin:0;
        padding:0;
      }
      >.sub-text{
        margin-top:3px;
        line-height: 20px;
        font-size:13px;
        font-weight:400;
      }
    }
  }
}